# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Gitt\airtickets\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
airtickets/src/redGreenBlue.java/
